*{
    margin: 0;
    padding: 0;
}

.holder{
    border: 2px solid black;
    border-radius: 10px;
    border-width: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 600px;
    text-align: center;
}

.item {
    height: 100px;
    flex-basis: 420px;
}

#one {
    background-color: rgb(247, 164, 134);
    order: -1;
    flex-grow: 2;
    flex-basis: 50%;
}

#two {
    background-color: rgb(126, 126, 223);
    order: 3;
    flex-grow: 1;
    flex-basis: 33%;
}

#three {
    background-color: rgb(159, 63, 159);
    order: 2;
    flex-grow: 1;
    flex-basis: 33%;
}

#four{
    background-color: green;
    order: 4;
    flex-grow: 1;
    flex-basis: 33%;
}

#five {
    background-color: rgb(255, 187, 0);
    order: 1;
    flex-grow: 2;
    flex-basis: 50%;
}